[submodule "addons/FracturalCommons"]
	path = addons/FracturalCommons
	url = https://github.com/Fractural/FracturalCommons.git
	branch = release
[submodule "addons/FracturalInject"]
	path = addons/FracturalInject
	url = https://github.com/Fractural/FracturalInject
	branch = release
